

body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    position: relative;
}

.logo {
    position: absolute;
    top: 44px;
    left: 51px;
}

.logo img {
    width: 368px;
    height: 44.29px; /* Rounded from 44.28571319580078 */
}

.login-section {
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
}

.login-section h2 {
    color: #5a2d82;
    font-weight: 600;
    margin-bottom: 10px;
}

.login-section p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.login-section input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.login-section input::placeholder {
    color: #666;
}

.remember-me {
    display: flex;

    font-size: 14px;
    margin-bottom: 20px;

}

.remember-me label{
    width: 200px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #f4a836;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #5a2d82;
    text-decoration: none;
    font-weight: 600;
}

.illustration-section {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    position: relative;
}

.illustration-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}