.belowdash{
    display: flex;
    gap: 20px;
}

.tempconta {
    background-color: #f6f6f6;
    height: 850px;
    width: 1100px;
    border-radius: 40px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: auto; 
}


