.statuselement{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elementcircle{
    padding:10px;
    padding-left: 12px;
    padding-right: 12px;
    border: 10px solid #643887;
    border-radius: 360px;
}
.statustext{
    align-items: center;
    line-height: 0px;
}
.statustext p{
    font-family: "Monument Black";
    
}

.statustext .text1{
    font-size: 48px;
    margin-top: 30px;

}

.statustext .text2{
    margin-top: -20px;
}

.statuscontainer{
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px solid #643887;
    border-radius: 30px;
}

.elementcircle img{
    height: 46px;
    width: 46px;
}

.aboutmecontainer{
    padding: 30px;
    border: 2px solid #643887;
    border-radius: 30px;
    margin-top: 25px;
}

.aboutmecontainer h2{
    font-family: "Monument Extended Regular";
    color: #643887;
}