.belowdash{
    display: flex;
    gap: 30px;
}
/*
.tempconta{
    background-color: #f6f6f6;
    height: 1350px;
    width: 1425px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

.Contacts{
    background-color: white;
    height: 390px;
    width: 440px;
    border-radius: 35px;
    padding: 25px;
}

.containertwo{
    display: flex;
}

.containerthree{
    display: flex;
    padding: 30px;
    gap: 20px;
    margin-top: -30px;
}

.Listings{
    background-color: white;
    height: 600px;
    width: 705px;
    border-radius: 35px;
    padding: 25px;
}

.Reviews{
    background-color: white;
    height: 600px;
    width: 705px;
    border-radius: 35px;
    padding: 25px;
}

*/
.tempconta{
    background-color: #f6f6f6;
    height: 1280px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

.reviews-scrollable {
    max-height: 650px; /* adjust based on your layout */
    overflow-y: auto;
    padding-right: 8px;
  }
  
  /* Optional scrollbar styling */
  .reviews-scrollable::-webkit-scrollbar {
    width: 6px;
  }
  .reviews-scrollable::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  

.Contacts{
    background-color: white;
    height: 240px;
    width: 320px;
    border-radius: 35px;
    padding: 25px;
    max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
  padding-right: 8px;
}

.Contacts::-webkit-scrollbar {
    width: 6px;
  }
  
  .Contacts::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
.containertwo{
    display: flex;
}

.containerthree{
    display: flex;
    padding: 30px;
    gap: 20px;
    margin-top: -30px;
}

.Listings{
    background-color: white;
    height: 720px;
    width: 400px;
    border-radius: 35px;
    padding: 25px;
}

.Reviews{
    background-color: white;
    height: 720px;
    width: 470px;
    border-radius: 35px;
    padding: 25px;
}

@media (min-width: 1025px) and (max-width: 1440px) {

    .tempconta{
        background-color: #f6f6f6;
        height: 1280px;
        width: 2000px;
        border-radius: 40px;
        justify-content: center;
        align-items: center;
    }
    
    .Contacts{
        background-color: white;
        height: 240px;
        width: 320px;
        border-radius: 35px;
        padding: 25px;
    }
    
    .containertwo{
        display: flex;
    }
    
    .containerthree{
        display: flex;
        padding: 30px;
        gap: 20px;
        margin-top: -30px;
    }
    
    .Listings{
        background-color: white;
        height: 720px;
        width: 705px;
        border-radius: 35px;
        padding: 25px;
    }
    
    .Reviews{
        background-color: white;
        height: 720px;
        width: 705px;
        border-radius: 35px;
        padding: 25px;
    }
}