.contactContainer {
    margin-left: 25px;
    background-color: #D9D9D9;
    height: 575px;
    width: 391px;
    border-radius: 35px;
    padding: 25px;
    
    /* Centering content */
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Ensures text aligns in the center */
    
}

.contactContainer h3{
    font-size: 30px;
}


.ContactChatContainer{
    background-color: #D9D9D9;
    height: 843px;
    width: 950px;
    border-radius: 35px;
}

.chatContainer{
    width: 520px;
}

.allchatcontainer{
    display: flex;
    gap: 30px;
}

