

    .chartcontainer{
        height: 250px;
        width: 550px;
        background-color: white;
        padding: 20px;
        border-radius: 35px;
        margin: 30px;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
    }
